<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Lab2
    link(rel="stylesheet", href="/public/css/style.min.css")
    script(src="/public/js/jquery.min.js")
    script(src="/public/js/bootstrap.min.js")
  body
    .container-fluid
      .row
        .col-sm-2
          ul.nav.flex-column
            each val in products
              li.nav-item
                a.nav-link(href=`#${val.id}`)= val.name
        .col-sm-10
          .row
            each val in products
              .col-sm-6.col-md-4
                .card(id=val.id)
                  img.card-image-top(src=`/public/${val.img}`, width='100%')
                  .card-body
                    h5.card-title= val.name
                    p= val.short
                    button.btn.btn-primary(data-toggle='modal', data-target=`#modal-${val.id}`) More
    each val in products
      .modal.fade(id=`modal-${val.id}`, tabindex='-1', role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              h5.modal-title= val.name
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              img.img-fluid(src=`/public/${val.img}`)
              h2= val.short
              p !{val.long}